.financial-summary {
  &__title {
    margin-bottom: 20px;
  }

  &__col {
    border: 1px solid $primary-20;
    padding: 24px;
    min-height: 260px;
    min-width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;

    em {
      display: block;
      text-align: center;
      font-style: normal;
    }

    span {
      display: block;
      width: 100%;
      text-align: center;
      color: $primary-80;
      text-transform: uppercase;
      font-size: 15px;
    }

    hr {
      border: 1px solid $primary-20;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      font-size: 14px;
      color: $primary-80;
      line-height: 20px;

      b {
        font-size: 16px;
        display: inline-block;
        font-weight: 600;
        width: 100%;
      }
    }
  }

  .button {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    i {
      margin-right: 5px;
    }
  }
}
