.bottomnavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px -1px 7px rgba(0, 0, 0, 0.14);

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 14px 24px;
    flex-direction: column;
    align-items: center;

    i {
      display: block;
      width: 60px;
      height: 60px;
      background-color: $accent-1-20;
      border-radius: 50%;
      position: relative;
      font-size: 22px;
      z-index: 2;
      margin-bottom: 4px;
      transition: box-shadow 0.2s, background-color 0.2s;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h5 {
      display: block;
      color: $primary-80;
      transition: color 0.2s;
      padding: 0 12px;
      z-index: 2;
    }

    &.active {
      h5 {
        color: $primary;
        font-weight: 600;
      }

      i {
        background-color: $accent-1-40;
        box-shadow: inset 0px 0px 0px 4px $accent-1;
      }
    }
  }

  @media screen and (max-width: 767px) {
    a {
        margin: 14px 10px;
      i {
        width: 44px;
        height: 44px;
        font-size: 15px;
      }
    }

    h5 {
      font-size: 12px;
    }
  }
}
