.account-header {
  padding: 50px 56px;
  width: 100%;
  background-color: $primary-10;
  display: flex;
  justify-content: space-between;

  &__content {
    padding: 0 50px 0 0;

    &:first-child {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 992px) {
      &:first-child {
        margin-bottom: 0px;
      }
    }

    h2 {
      margin: 0 0 0 0;
    }
  }

  @media screen and (min-width: 992px ) {
    &__status {
      text-align: right;
    }
  }
}
